<!-- partial form view to be used by both the create new article view and the
edit article view -->

<%= form_for @article do |f| %>
 
  <!-- If the article can not be saved to the database, show error(s) messages
  so the user knows what need to change. -->
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Form input fields -->
<div class="well">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-11 form-group">
      <h3><%= f.label :title %></h3>
      <%= f.text_field :title, class: "form-control"  %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-11 form-group">
      <h3><%= f.label :text %></h3>
      <%= f.text_area :text, rows: "15", class: "form-control" %>
    </div>
  </div>

  <%= f.submit %>

</div>
 
<% end %>