<h1>Latest Mini-Golf News</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

 <!-- For each article is articles array, render the following table row-->
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>

      <td><%= article.text %></td>
      <!-- Create link with 'Show' text that links to article show view -->
      <td><%= link_to 'Show', article_path(article) %></td>

      <!-- Create link with 'Edit' text that links to article edit view -->
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      
      <!-- Create link with 'Destroy' text that links to article show view 
      but first shows confirm window to confirm that user wants to delete the 
      article. If they confirm the delete method is executed before going to 
      the show view.-->
      <td><%= link_to 'Delete', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Home", root_path %>

