<!-- Render partial nav view -->
<%= render "nav" %>

<div class="container-fluid">

<div class="row">
  <div class= "col-xs-12 col-sm-12 col-md-6 col-md-offset-4">
    <h1 class="headline">Latest Mini-Golf Posts</h1>
  </div>
</div>


 <!-- For each article is articles array, render the following table row-->
  <% @articles.each do |article| %>
    <div class="well">

      <h2><%= article.title %></h2>

      <p><%= article.text[0..275] %> 
      <!-- Create link that links to article show view -->
      <%= link_to "Continue Reading", article_path(article) %> <p>
      
    </div>
  <% end %>


<%= button_to "Add a new article", new_article_path, :method => "get",
                class: "btn btn-success" %>

</div>
